/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Body background and center alignment */
body {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App container */
.weather-app {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  border-radius: 22px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Location */
.location h1 { 
    font-size: 26px; 
}
.location p { 
    font-size: 14px; 
    color: #666; 
}

/* Date & Time */
.datetime { 
    margin: 15px 0 25px; 
}
.datetime p { 
    font-size: 14px; 
}
.datetime span { 
    font-size: 13px; 
    color: #777; 
}

/* Main Weather */
.weather-main { 
    margin-bottom: 30px; 
}
.icon { 
    font-size: 60px; 
}
.temperature { 
    font-size: 52px; 
    font-weight: bold; 
    margin: 8px 0; 
}
.condition { 
    font-size: 16px; 
    color: #555; 
    text-transform: capitalize; 
}

/* Weather Details Grid */
.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.box { 
    background: #f4f6fb; 
    border-radius: 14px; 
    padding: 15px; 
    height:80px; 
}
.box span { 
    font-size: 12px; 
    color: #777; 
}
.box strong { 
    font-size: 16px; 
}

/* Refresh Button */
.refresh-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 14px;
  background: #4facfe;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.refresh-btn:hover { 
    background: #2f80ed; 
}
